<a href="https://colab.research.google.com/github/srosamont/Projects_Ironhack/blob/master/NYC_ride_fare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style('dark')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
%tensorflow_version 2.x
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [1]:
# Lire fichier
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
path="/content/drive/My Drive/Data/train_2014.csv"

In [6]:
%%time

df_2014=pd.read_csv(path)

CPU times: user 14.1 s, sys: 1.79 s, total: 15.9 s
Wall time: 16.8 s

In [7]:
%%time
path2="/content/drive/My Drive/Data/train_2013.csv"
df_2013=pd.read_csv(path2)

CPU times: user 15.2 s, sys: 2.45 s, total: 17.7 s
Wall time: 22.1 s

In [8]:
import pickle
filename = 'fichier2014lu.sav'
pickle.dump(df_2014, open(filename, 'wb'))
filename2 = 'fichier2014lu.sav'
pickle.dump(df_2013, open(filename2, 'wb'))

In [11]:
df_2014.shape,df_2013.shape

((8252682, 8), (8655190, 8))

In [13]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8252682 entries, 0 to 8252681
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   fare_amount        float64
 2   pickup_datetime    object
 3   pickup_longitude   float64
 4   pickup_latitude    float64
 5   dropoff_longitude  float64
 6   dropoff_latitude   float64
 7   passenger_count    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 503.7+ MB

In [19]:
df_2014.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    4
dropoff_latitude     4
passenger_count      0
dtype: int64

In [17]:
#deleting 163 rows with missing values in dropoff columns.
df_2013.dropna(axis=0,inplace=True)

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [21]:
df_2014.pickup_datetime.unique(),df_2013.pickup_datetime.unique()

(array(['2014-02-19 07:22:00 UTC', '2014-12-06 20:36:22 UTC',
        '2014-02-19 16:03:00 UTC', ..., '2014-07-31 09:06:06 UTC',
        '2014-05-02 07:36:20 UTC', '2014-03-04 22:25:01 UTC'], dtype=object),
 array(['2013-07-02 19:54:00 UTC', '2013-11-23 12:57:00 UTC',
        '2013-02-12 12:15:46 UTC', ..., '2013-02-20 08:25:20 UTC',
        '2013-01-31 17:51:31 UTC', '2013-07-25 15:51:16 UTC'], dtype=object))

In [22]:
df_2014['date']=pd.to_datetime(df_2014['pickup_datetime'])

In [24]:
%%time
df_2013['date']=pd.to_datetime(df_2013['pickup_datetime'])

CPU times: user 16min 35s, sys: 249 ms, total: 16min 35s
Wall time: 16min 36s

In [25]:
%%time
# Month of year
df_2014['month'] = df_2014['date'].dt.month_name()
# Week of year
df_2014['week_nb'] = df_2014['date'].dt.week
# Day of week
df_2014['weekday'] = df_2014['date'].dt.day_name()
# Day of year (quantieme)
df_2014['day_nb'] = df_2014['date'].dt.dayofyear
# Hour of the day 
df_2014['hour'] = df_2014['date'].dt.hour
# Day of the month
df_2014['Month_day'] = df_2014['date'].dt.day

CPU times: user 8.27 s, sys: 1.34 s, total: 9.61 s
Wall time: 9.61 s

In [29]:
df_2014['week_nb'].unique().size

52

In [27]:
df_2014['weekday'].unique()

array(['Wednesday', 'Saturday', 'Thursday', 'Friday', 'Tuesday', 'Monday',
       'Sunday'], dtype=object)

In [30]:
df_2014['month'].unique()

array(['February', 'December', 'July', 'May', 'January', 'April', 'June',
       'March', 'October', 'November', 'September', 'August'],
      dtype=object)

In [31]:
df_2014['day_nb'].unique().size

365

In [33]:
%%time
# Month of year
df_2013['month'] = df_2013['date'].dt.month_name()
# Week of year
df_2013['week_nb'] = df_2013['date'].dt.week
# Day of week
df_2013['weekday'] = df_2013['date'].dt.day_name()
# Day of year (quantieme)
df_2013['day_nb'] = df_2013['date'].dt.dayofyear
# Hour of the day 
df_2013['hour'] = df_2013['date'].dt.hour
# Day of the month
df_2013['Month_day'] = df_2013['date'].dt.day

CPU times: user 8.79 s, sys: 1.41 s, total: 10.2 s
Wall time: 10.2 s

In [34]:
df_2014.drop_duplicates(inplace=True)

In [35]:
df_2013.drop_duplicates(inplace=True)

In [36]:
df_2014.passenger_count.value_counts()

1      5811784
2      1153689
5       463716
3       348193
6       306037
4       168920
0          321
9            9
7            6
8            4
208          3
Name: passenger_count, dtype: int64

In [37]:
df_2014df_2014[df_2014.passenger_count!=208]

                                   key  fare_amount  ... hour  Month_day
1895046   2014-01-07 08:49:00.00000027         18.7  ...    8          7
5658499   2014-01-27 08:17:00.00000069          3.9  ...    8         27
6595413  2014-02-12 09:28:00.000000155          2.5  ...    9         12

[3 rows x 15 columns]

# Nouvelle section