
pickup_datetime - date and time when the meter was engaged
dropoff_datetime - date and time when the meter was disengaged


*fonction pour récuper le quantieme sur chaque fichier . ==>clé commune aux 2 fichier s apres on merge les 2 fichiers
*fonction pour retraiter les dates du fichier taxi (train):
couper date (splitter en saison, month, jour   , weekend/not weekend Attention multicolinearrity) et time (bucket matin / aprem/soir/et nuit  à voir plus tard); Split en 24h (prendrel' heure en cours)


Rajouter une colonne durée de la course
Verifier si la duree entre pickup et le dropoff est pas deconnante
1 colonne duree >1 h ou inferieur à 1h


température : farenheint à convertir en degre celsius. Garder la moyenne et verifier si c est cohérent.
Pour convertir en degrés Celsius une température donnée en degrés Fahrenheit, il suffit de soustraire 32 et de diviser par 1,8 (9/5 = 1,8) le nombre ainsi obtenu. Pour 50 °F , on obtient : 50 − 32 = 18, puis 18/1,8 = 10 ; donc 50 °F = 10 °C .

convertir inch en cm (1inch =2,54cm)

*lieu:

Model à tester:
which features


Exponentiel distribution : how long the duration will be.

#### Target : Cluster data first, then predict duration depending in the cluster.

In [53]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

In [20]:
taxi=pd.read_csv('train.csv')

In [11]:
weather=pd.read_csv('weather_data_nyc_centralpark_2016(1).csv')

In [21]:
taxi.isnull().sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [26]:
taxi.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [ ]:
# to_drop=['store_and_fwd_flag']
# Insight A creuser: vendor id, l organisation du taxi à new york
#weather_data_nyc_centralpark_2016
# 2 providers

# WEATHER DATA

In [12]:
weather.isnull().sum()

date                   0
maximum temperature    0
minimum temperature    0
average temperature    0
precipitation          0
snow fall              0
snow depth             0
dtype: int64

In [13]:
weather.dtypes
# changer le type de la date de preicipitation et snow columns

date                    object
maximum temperature      int64
minimum temperature      int64
average temperature    float64
precipitation           object
snow fall               object
snow depth              object
dtype: object

In [14]:
weather.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [18]:
weather['maximum temperature'].unique()

array([42, 40, 45, 36, 29, 41, 46, 47, 59, 44, 30, 38, 51, 52, 31, 28, 37,
       27, 35, 39, 48, 56, 50, 22, 15, 54, 61, 55, 60, 67, 77, 79, 68, 62,
       57, 65, 63, 43, 71, 72, 53, 73, 58, 75, 82, 69, 66, 76, 80, 64, 70,
       78, 88, 90, 87, 92, 85, 83, 74, 84, 86, 91, 89, 81, 93, 94, 96, 95,
       49, 34, 33])

In [15]:
weather.date

0        1-1-2016
1        2-1-2016
2        3-1-2016
3        4-1-2016
4        5-1-2016
          ...
361    27-12-2016
362    28-12-2016
363    29-12-2016
364    30-12-2016
365    31-12-2016
Name: date, Length: 366, dtype: object

In [68]:
#transform date from day-month-year to year-month-day in weather file
weather['date']=pd.to_datetime(weather.date)

In [ ]:
weather["maximum temperature"]-weather["minimum temperature"]==average temperature

In [ ]:
#weather['date'].map(lambda x :str(x)[:10])

# TAXI DATA

In [35]:
taxi.pickup_datetime

0          2016-03-14 17:24:55
1          2016-06-12 00:43:35
2          2016-01-19 11:35:24
3          2016-04-06 19:32:31
4          2016-03-26 13:30:55
                  ...
1458639    2016-04-08 13:31:04
1458640    2016-01-10 07:35:15
1458641    2016-04-22 06:57:41
1458642    2016-01-05 15:56:26
1458643    2016-04-05 14:44:25
Name: pickup_datetime, Length: 1458644, dtype: object

In [32]:
#Select date part from date in taxi file
taxi['date']=taxi['pickup_datetime'].map(lambda x :x[:10])

In [41]:
taxi['date']=pd.to_datetime(taxi['date'])

In [50]:
# Select time in the pickup date time:
taxi['time']=taxi['pickup_datetime'].map(lambda x :x[11:])
taxi['hour']=taxi['pickup_datetime'].map(lambda x :x[11:13])

In [63]:
# Month of the taxi "course":
taxi['Month']=taxi['pickup_datetime'].map(lambda x :x[5:7])
#Seasons:
dct_seasons={'01':'winter','02':'winter','12':'winter', '03':'spring', '04': 'spring', '05':'spring', '06':'summer','07':'summer','08':'summer','09':'automn','10':'automn','11':'automn'}
taxi['Season']=taxi['Month'].map(dct_seasons)

In [64]:
taxi['Season'].unique()

array(['spring', 'summer', 'winter'], dtype=object)

In [65]:
taxi['Month'].unique()

array(['03', '06', '01', '04', '05', '02'], dtype=object)

In [69]:
# check why automn is not visible

In [ ]:
# Check duration of the transport

In [71]:
pd.to_datetime(taxi['dropoff_datetime'])-pd.to_datetime(taxi['pickup_datetime'])

0         00:07:35
1         00:11:03
2         00:35:24
3         00:07:09
4         00:07:15
            ...
1458639   00:12:58
1458640   00:10:55
1458641   00:12:44
1458642   00:06:13
1458643   00:03:18
Length: 1458644, dtype: timedelta64[ns]

# USEFUL CODES

In [54]:
taxi.describe(include='all')

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,date,time,hour
count,1458644,1.458644e+06,1458644,1458644,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1458644,1.458644e+06,1458644,1458644,1458644
unique,1458644,NaN,1380222,1380377,NaN,NaN,NaN,NaN,NaN,2,NaN,182,86259,24
top,id3370968,NaN,2016-05-07 13:18:07,2016-05-16 19:40:28,NaN,NaN,NaN,NaN,NaN,N,NaN,2016-04-09 00:00:00,18:57:27,18
freq,1,NaN,5,5,NaN,NaN,NaN,NaN,NaN,1450599,NaN,9796,47,90600
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-30 00:00:00,NaN,NaN
mean,NaN,1.534950e+00,NaN,NaN,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,NaN,9.594923e+02,NaN,NaN,NaN
std,NaN,4.987772e-01,NaN,NaN,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,NaN,5.237432e+03,NaN,NaN,NaN
min,NaN,1.000000e+00,NaN,NaN,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,NaN,1.000000e+00,NaN,NaN,NaN
25%,NaN,1.000000e+00,NaN,NaN,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,NaN,3.970000e+02,NaN,NaN,NaN
50%,NaN,2.000000e+00,NaN,NaN,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,NaN,6.620000e+02,NaN,NaN,NaN
75%,NaN,2.000000e+00,NaN,NaN,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,NaN,1.075000e+03,NaN,NaN,NaN
max,NaN,2.000000e+00,NaN,NaN,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,NaN,3.526282e+06,NaN,NaN,NaN